# Environment files
environment*

# original images
/images/originals/*

# github repos linked as projects
/projects/

# Jekyll build process
.jekyll-cache
.jekyll-metadata
.sass-cache

# Other files
.tweet-cache
node_modules
.DS_Store
